/*.navbar-nav li.nav-item img {*/
/*width: 50px;*/
/*}*/

.navbar-nav li.nav-item {
    text-align: center;
}

.navbar-nav li.nav-item img {
    width: 60px;
    height: 60px;
}

.navbar-nav li.nav-item span {
    display: block;
}